<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>About me</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim eget mauris vitae efficitur. Phasellus at lacus tempus, interdum sapien et, rutrum ipsum. Suspendisse potenti. Vestibulum suscipit aliquam convallis. Phasellus euismod nisl sed lorem sollicitudin, sit amet mollis lorem scelerisque.</br> Proin fringilla in sapien non blandit. Aenean et risus imperdiet est accumsan gravida sit amet quis est. Phasellus justo nibh, ultricies eget urna vitae, tempor sodales augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam ac elit massa.</br> Phasellus tincidunt ligula mauris. Nullam ut blandit urna. Ut lacinia metus purus, et cursus sapien accumsan pharetra. Nam ornare faucibus bibendum.</p>
  </body>
</html>